@import "./variables";

@import "bootstrap/scss/bootstrap";
@import "primeicons/primeicons.css";
@import "sweetalert2/src/sweetalert2.scss";


div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
    background-color: $color2 !important;
}
